@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}

button {
  border: none;
}

.Background {
  background-image: url(../images/background/bg-1920-new.jpg);
  display: inline-block;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.logoimage {
  width: 50%;
}

.text1 {
  font-size: 35px;
  font-weight: 900;
}

.text2 {
  font-size: 35px;
  font-weight: 900;
  color: #FF4605;
  flex-direction: column;
  justify-content: center;
}

.nav-link.active {
  color: #FF4605;
}

.icon-style {
  padding: 10px 15px;
  font-size: 20px;
}

.icon-style1 {
  padding: 10px;
  font-size: 20px;
}

.menucolor {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.menucolor:focus {
  color: #FF4605;
}

.menucolor:hover {
  color: #FF4605;
}

.Search-btn {
  background-color: #FF4605;
  width: 100%;
  transition: all 1s;
}

.Search-btn:hover {
  background-color: #000000;
  width: 100%;
}

.selectBg-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 15px 1px #ffffff99;
  border-radius: 20px;
}

.box-color {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -18px;
  left: 18px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.box-position-move {
  position: relative;
}

.box-color1 {
  background-color: #ffffff;
  position: absolute;
  left: 80px;
  bottom: -18px;
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.box-color2 {
  background-color: #ffffff;
  position: absolute;
  left: 160px;
  bottom: -18px;
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.car-images {
  border: 4px solid #ffffff;
  transition: all 1s;
  cursor: pointer;
}

.car-images:hover {
  border: 4px solid #FF4605;
}

.text3 {
  color: #FF4605;
  font-size: 20px;
}

.heading {
  font-size: 45px;
  font-weight: 800;
}

.nav-pills .nav-link.menucar {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  border-radius: 13px;
  padding: 10px 50px;
}

.nav-pills .nav-link.menucar1 {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  border-radius: 13px;
  text-align: center;
}


.menucar:hover {
  color: #FF4605;
  border: 2px solid #FF4605;
  background-color: #ff48052d;
}

.nav-pills .nav-link.active {
  color: #FF4605;
  border: 2px solid #FF4605;
  background-color: #ff48052d;
}

.btncolor {
  background-color: #FF4605;
  color: #ffffff;
}

.btncolor:hover {
  background-color: #e83e00;
  color: #ffffff;
}

.imageCarBOx {
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

.imageCarBOx2 {
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

.imageCarBOx1 {
  width: 100%;
  height: 485px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
}

.imageCarBOx3 {
  width: 100%;
  overflow: hidden;
  height: 160px;
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
}

.imageblog:hover {
  transform: scale(1.2);
}

.text4 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: auto;
}

.imageblog {
  transition: all 1s;
}

.btn-view {
  background-color: #FF4605;
  padding: 10px 40px;
  color: #ffffff;
  width: 100%;
}

.btn-view:hover {
  background-color: #d43a02;
  color: #ffffff;
}

.heading1 {
  padding-top: 30px;
  color: #6b6b6b;
  font-weight: 600;
}

.heading2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.heading3 {
  font-size: 30px;
  font-weight: 800;
  padding: 20px 0;
}

.icon-style2 {
  background-color: #ff1a0522;
  padding: 12px 0;
  font-size: 30px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.icon-style3 {
  background-color: #3fff0522;
  padding: 12px 0;
  font-size: 30px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.icon-style4 {
  background-color: #0d05ff22;
  padding-top: 15px ;
  padding-left: 5px;
  font-size: 30px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.heading4 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
}

.menu-team {
  color: #ffffff;
  padding-left: 10px;
}

.menu-team li::before {
  content: "✔";
  background-color: #FF4605;
  color: #000000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 3;
  margin-right: 20px;
}

.Learn-morebtn {
  background-color: #FF4605;
  border-radius: 12px;
  color: #ffffff;
  width: 100%;
  padding: 12px;
}

.imagesteam {
  overflow: hidden;
  cursor: pointer;
  border-radius: 11px 11px 0px 0px;
  transition: all .3s;
}

.imagesteam:hover {
  transform: translate(0px, -10px);
}

.phone-icon {
  color: #ffffff;
  background-color: #FF4605;
  border-radius: 8px;
  padding: 14px;
}

.iconposition {
  position: relative;
  left: 40px;
  bottom: 20px;
}

.bgcolortext {
  border-radius: 0px 0px 11px 11px;
}

.socialcontact {
  color: #FF4605;
  font-weight: 500;
}

.heading5 {
  font-size: 28px;
  font-weight: 700;
}

.carlogo {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.carlogo:hover {
  opacity: 5;
}

.bgcolorcar {
  background-color: #FF4605;
  border-radius: 10px;
  height: 600px;
  margin-bottom: 80px;
}

.bgcolorcar1 {
  background-color: #151515;
  border-radius: 10px;
}

.heading6 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 800;
  padding: 20px 0 0 20px;
}

.heading7 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 800;
}

.phonebox {
  position: relative;
  top: 10px;
}

.btn-Read {
  border: 2px solid #FF4605;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  transition: all 1s;
}

.btn-Read:hover {
  background-color: #FF4605;
}

.menu-team1 {
  color: #9e9e9e;
  padding-left: 10px;
  font-weight: 700;
}

.menu-team1 li::before {
  content: "✔";
  background-color: #FF4605;
  color: #000000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 3;
  margin-right: 20px;
}

.btn-ios {
  border-radius: 24px;
  padding: 12px 50px;
  font-weight: 700;
  color: #FF4605;
}

.play-icon {
  font-size: 20px;
  padding-right: 10px;
}

.phoneimagebox {
  padding-bottom: 50px;
}

.btn-sing {
  background-color: #FF4605;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 8px;
  width: 100%;
}

.emailtext {
  border: 2px solid rgba(67, 67, 67, 0.742);
  width: 100%;
  padding: 10px 30px;
  border-radius: 8px;
}

.emailtext:focus {
  outline: none;
}

.text8 {
  font-size: 40px;
  margin: 0;
  font-weight: 800;
}

.text9 {
  padding: 10px 0 20px 0;
  order: 2;
}

.text10 {
  order: 1;
}

.text11 {
  order: 3;
}

.vehica-img {
  width: 70%;
}

.menuabout li {
  list-style: disc;
  color: #FF4605;
  font-size: 18px;
  line-height: 2;
}

.myMenu1 {
  font-size: 18px;
  color: #d9d9d9d1;
  transition: all .3s;
}

.myMenu1:hover {
  color: #FF4605;
}

.contactcolor {
  color: #FF4605;
  font-size: 35px;
  font-weight: 900;
}

.contactsize {
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
}

.iconbg {
  background-color: #676767;
  border-radius: 50%;
  padding: 10px;
}

.iconbg1 {
  background-color: #676767;
  border-radius: 50%;
  padding: 10px 12px;
}

.btnAdd {
  border: 2px solid #FF4605;
  background-color: transparent;
  color: #4e4e4e;
  transition: all .5s;
}

.btnAdd:hover {
  background-color: #FF4605;
  color: #ffffff;
}

.icon-color {
  color: #FF4605;
  font-size: 18px;
}

@media (min-width:768px) {
  .text1 {
    font-size: 45px;
  }

  .text2 {
    font-size: 45px;
  }

  .heading1 {
    padding-top: 55px;
  }

  .text5 {
    column-gap: 30px;
  }

  .btn-view {
    width: auto;

  }

  .heading2 {
    font-size: 40px;
  }

  .text7 {
    padding: 0px 100px;
  }

  .menu-team {
    color: #ffffff;
    padding-left: 70px;
  }

  .teamAll {
    column-gap: 40px;
  }

  .btn-sing {
    width: 60%;
  }

  .emailtext {
    width: 60%;
  }

  .text9 {
    padding: 20px 200px;
  }

  .bgcolorcar {
    height: 550px;
    margin-bottom: 80px;
  }

}

@media (min-width:992px) {
  .text1 {
    font-size: 60px;
  }

  .text2 {
    font-size: 60px;
  }

  .selectBg-box {
    width: 70%;
  }

  .herosection {
    height: 100vh;
  }

  .box-color {
    width: 20px;
    height: 20px;
    bottom: -18px;
    left: 18px;
  }

  .box-color1 {
    left: 128px;
    bottom: -18px;
    width: 20px;
    height: 20px;
  }

  .box-color2 {
    left: 250px;
    bottom: -18px;
    width: 20px;
    height: 20px;
  }

  .car-image-box {
    width: 10%;
  }

  .heading1 {
    padding-top: 55px;
  }

  .text5 {
    column-gap: 30px;
  }

  .carsMenu {
    padding-left: 40px;
    padding-top: 0px;
  }

  .heading2 {
    font-size: 55px;
  }

  .text7 {
    padding: 0px;
  }

  .Learn-morebtn {

    width: 40%;
  }

  .teamAll {
    position: relative;
    left: 40px;
    column-gap: 20px;
  }

  .heading4 {
    padding-top: 50px;
  }

  .bgcolorcar {
    margin: 0;
    height: 300px;
  }

  .bgcolorcar1 {
    height: 300px;
  }

  .phoneimagebox {
    padding-bottom: 120px;
  }

  .btn-sing {
    width: 100%;
    margin-top: 0px;
  }

  .emailtext {
    width: 100%;
  }

  .text9 {
    padding: 0;
    order: 3;
  }

  .text10 {
    order: 1;
  }

  .text11 {
    order: 2;
  }

  .logoimage {
    width: 20%;
  }
}