@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.Background{
  background-image: url(../images/background/home.jpg);
  height: 100vh;
  display: inline-block;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.navigation{
  position:sticky;
  top: 0px;
  z-index: 9999;
}
.heading{
  height: 100vh;
  padding-left: 20px;
}
.btn-get{
  background-color: #3face4;
  border: none;
  border-radius: 7px;
  padding: 15px 30px;
  color: #ffffff;
}
.text1{
font-size: 36px;
color: #ffffff;

}
.text2{
  font-size: 17px;
  color: #ffffff;
  line-height: 2;
  }
  .text-color{
color: rgb(139, 139, 139);
font-size: 15px;
  }
  .heading-procedure{
  font-size: 36px;
  }
  .text-color1{
    color: rgb(139, 139, 139);
    font-size: 15px;
      }
.bgcolor{
  background-color: rgb(236, 243, 249); 
}
.border-total{
  border: 1px solid #3a3a3ac1;
  background-color: #ffffff;
  width: 100%;
  border-radius: 6px;
}
.Total-project{
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  
}
.iconcolor{
  font-size: 20px;
  color: #28b7ff;
}
.iconcolor1{
  font-size: 36px;
  color: #37bcff;
  padding-bottom: 15px;
}
.heading-enjoy{
  font-size: 33px;
  padding-top: 30px;
}
.bgcolor1{
   background-color: #f3faf9;
}
.icon-star{
  color: rgb(255, 208, 0);
}
.icon-star1{
  color: rgb(95, 95, 95);

}
.book-appointment{
  width: 100%;
  padding: 5px 20px 5px 20px;
}
.bgcolor3{
  background-color: rgb(236, 243, 249); 
}
.bgcolor2{
  background-color: #f7f7f7;
  padding: 0px;
}
.btn-booking{
  background-color: #3face4;
  border: none;
  
  padding: 15px 30px;
  color: #ffffff;
}
.comment{
  column-gap:20px;
  color: rgb(174, 174, 174);
}
.text4{
  color: #000000;
  font-size: 20px;
  
}
.image-box{
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.imageblog{
  transition: all 2s;
  object-fit: cover; 
}

.imageblog:hover{
  transform: scale(1.2);
}
.bgcolor4{
  background-color: #222222;
  color: #FFFFFF;
}
.btn-get1{
  background-color: #3face4;
  border: none;
  border-radius: 30px;
  padding: 13px 30px;
  color: #ffffff;
}
.email-address{
 border: none;
  border-radius: 30px;
  padding: 10px 50px;
 background-color: #525252;
}
.icon-fb{
  background-color: #000000;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 13px;
  color: #ffffff;
  cursor: pointer;
  transition: all 1s;
}
.icon-fb:hover{
  background-color: #28b7ff;
}

@media (min-width: 768px){
  .text1{
    font-size: 48px;
    }
    .heading{  
      padding-left: 50px;
    }
    .border-total{
      width: 40%;
    }
}

@media (min-width: 992px){
  .heading{
    padding-left: 100px;
  }
  .border-total{ 
    width: 40%;
  }
  .bgcolor{
 
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bgcolor2{
    padding: 40px;
  }
  .Hours{
   padding-left: 100px;
  }
  .font-weight{
    font-size: 30px;
    font-weight: 400;
    
  }

}







  

